# 1.Read Files

In [67]:
# Read CSV
import pandas as pd
data = pd.read_csv('001.csv')
print(data)

            Date  sulfate  nitrate  ID
0     2003-01-01      NaN      NaN   1
1     2003-01-02      NaN      NaN   1
2     2003-01-03      NaN      NaN   1
3     2003-01-04      NaN      NaN   1
4     2003-01-05      NaN      NaN   1
...          ...      ...      ...  ..
1456  2006-12-27      NaN      NaN   1
1457  2006-12-28      NaN      NaN   1
1458  2006-12-29      NaN      NaN   1
1459  2006-12-30      NaN      NaN   1
1460  2006-12-31      NaN      NaN   1

[1461 rows x 4 columns]

In [68]:
# Read excel
import pandas as pd
df = pd.read_excel ('sample.xlsx', sheet_name='Sheet1')
print (df)

   OrderDate   Region       Rep    Item  Units  UnitCost   Total
0   1/6/2020     East     Jones  Pencil     95      1.99  189.05
1  1/23/2020  Central    Kivell  Binder     50     19.99  999.50
2   2/9/2020  Central   Jardine  Pencil     36      4.99  179.64
3  2/26/2020  Central      Gill     Pen     27     19.99  539.73
4  3/15/2020     West   Sorvino  Pencil     56      2.99  167.44
5   4/1/2020     East     Jones  Binder     60      4.99  299.40
6  4/18/2020  Central   Andrews  Pencil     75      1.99  149.25
7   5/5/2020  Central   Jardine  Pencil     90      4.99  449.10
8  5/22/2020     West  Thompson  Pencil     32      1.99   63.68

In [69]:
# Read from Database
import mysql.connector
mydb = mysql.connector.connect(
  host="genome-mysql.cse.ucsc.edu",
  user="genome"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fab321b10d0>

In [71]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES") # show names of all the database
# conver query into dataframe
data = []
for x in mycursor:
    data.append(x[0]) # every x here is a tuple, and we only need the the first index 
    #print(x)
    
mycursor.close() # close database connection
print(data)

#for x in mycursor:
#  print(x)

['acaChl1', 'ailMel1', 'allMis1', 'allSin1', 'amaVit1', 'anaPla1', 'ancCey1', 'angJap1', 'anoCar1', 'anoCar2', 'anoGam1', 'anoGam3', 'apaSpi1', 'apaVit1', 'apiMel1', 'apiMel2', 'aplCal1', 'aptFor1', 'aptMan1', 'aquChr2', 'araMac1', 'ascSuu1', 'balAcu1', 'balPav1', 'bisBis1', 'bosTau2', 'bosTau3', 'bosTau4', 'bosTau5', 'bosTau6', 'bosTau7', 'bosTau8', 'bosTau9', 'bosTauMd3', 'braFlo1', 'bruMal2', 'bucRhi1', 'burXyl1', 'caeAng2', 'caeJap1', 'caeJap4', 'caePb1', 'caePb2', 'caePb3', 'caeRem2', 'caeRem3', 'caeRem4', 'caeSp111', 'caeSp51', 'calAnn1', 'calJac1', 'calJac3', 'calJac4', 'calMil1', 'canFam1', 'canFam2', 'canFam3', 'canFam4', 'canFam5', 'capCar1', 'carCri1', 'cavPor3', 'cb1', 'cb3', 'cb4', 'ce10', 'ce11', 'ce2', 'ce4', 'ce6', 'cerSim1', 'chaVoc2', 'cheMyd1', 'chlSab2', 'chlUnd1', 'choHof1', 'chrPic1', 'chrPic2', 'ci1', 'ci2', 'ci3', 'colLiv1', 'colStr1', 'corBra1', 'corCor1', 'cotJap2', 'criGri1', 'criGriChoV1', 'criGriChoV2', 'cucCan1', 'danRer1', 'danRer10', 'danRer11', 'danRer2', 'danRer3', 'danRer4', 'danRer5', 'danRer6', 'danRer7', 'dasNov3', 'dipOrd1', 'dirImm1', 'dm1', 'dm2', 'dm3', 'dm6', 'dp2', 'dp3', 'droAna1', 'droAna2', 'droEre1', 'droGri1', 'droMoj1', 'droMoj2', 'droPer1', 'droSec1', 'droSim1', 'droSim2', 'droVir1', 'droVir2', 'droYak1', 'droYak2', 'eboVir3', 'echTel1', 'echTel2', 'egrGar1', 'enhLutNer1', 'equCab1', 'equCab2', 'equCab3', 'eriEur1', 'eriEur2', 'eurHel1', 'falChe1', 'falPer1', 'felCat3', 'felCat4', 'felCat5', 'felCat8', 'felCat9', 'ficAlb2', 'fr1', 'fr2', 'fr3', 'fulGla1', 'gadMor1', 'galGal2', 'galGal3', 'galGal4', 'galGal5', 'galGal6', 'galVar1', 'gasAcu1', 'gavSte1', 'gbMeta', 'geoFor1', 'go', 'go080130', 'go140213', 'go150121', 'go180426', 'gorGor3', 'gorGor4', 'gorGor5', 'gorGor6', 'haeCon2', 'halAlb1', 'halLeu1', 'hetBac1', 'hetGla1', 'hetGla2', 'hg16', 'hg17', 'hg18', 'hg19', 'hg19Patch10', 'hg19Patch13', 'hg38', 'hg38Patch11', 'hgFixed', 'hgcentral', 'information_schema', 'latCha1', 'lepDis1', 'letCam1', 'loaLoa1', 'loxAfr3', 'macEug1', 'macEug2', 'macFas5', 'manPen1', 'melGal1', 'melGal5', 'melHap1', 'melInc2', 'melUnd1', 'merNub1', 'mesUni1', 'micMur1', 'micMur2', 'mm10', 'mm10Patch4', 'mm39', 'mm5', 'mm6', 'mm7', 'mm8', 'mm9', 'monDom1', 'monDom4', 'monDom5', 'musFur1', 'myoLuc2', 'nanPar1', 'nasLar1', 'necAme1', 'neoSch1', 'nipNip1', 'nomLeu1', 'nomLeu2', 'nomLeu3', 'ochPri2', 'ochPri3', 'oncVol1', 'opiHoa1', 'oreNil1', 'oreNil2', 'oreNil3', 'ornAna1', 'ornAna2', 'oryCun2', 'oryLat2', 'otoGar3', 'oviAri1', 'oviAri3', 'oviAri4', 'panPan1', 'panPan2', 'panPan3', 'panRed1', 'panTro1', 'panTro2', 'panTro3', 'panTro4', 'panTro5', 'panTro6', 'papAnu2', 'papAnu4', 'papHam1', 'pelCri1', 'pelSin1', 'performance_schema', 'petMar1', 'petMar2', 'petMar3', 'phaCar1', 'phaLep1', 'phoRub1', 'picPub1', 'ponAbe2', 'ponAbe3', 'priExs1', 'priPac1', 'priPac3', 'proCap1', 'proteins120806', 'proteins121210', 'proteins140122', 'proteins150225', 'proteins160229', 'proteins180404', 'proteome', 'pteGut1', 'pteVam1', 'pygAde1', 'pytBiv1', 'rheMac1', 'rheMac10', 'rheMac2', 'rheMac3', 'rheMac8', 'rhiRox1', 'rn3', 'rn4', 'rn5', 'rn6', 'sacCer1', 'sacCer2', 'sacCer3', 'saiBol1', 'sarHar1', 'serCan1', 'sorAra1', 'sorAra2', 'sp120323', 'sp121210', 'sp140122', 'sp150225', 'sp160229', 'sp180404', 'speTri2', 'strCam1', 'strPur1', 'strPur2', 'strRat2', 'susScr11', 'susScr2', 'susScr3', 'taeGut1', 'taeGut2', 'tarSyr1', 'tarSyr2', 'tauEry1', 'tetNig1', 'tetNig2', 'thaSir1', 'tinGut2', 'triMan1', 'triSpi1', 'triSui1', 'tupBel1', 'turTru2', 'tytAlb1', 'uniProt', 'vicPac1', 'vicPac2', 'visiGene', 'wuhCor1', 'xenLae2', 'xenTro1', 'xenTro2', 'xenTro3', 'xenTro7', 'xenTro9', 'zonAlb1']

In [72]:
# create dataframe
df = pd.DataFrame(data, columns=["information_schema"])
df

    information_schema
0              acaChl1
1              ailMel1
2              allMis1
3              allSin1
4              amaVit1
..                 ...
330            xenTro2
331            xenTro3
332            xenTro7
333            xenTro9
334            zonAlb1

[335 rows x 1 columns]

In [73]:
# Connect to specific database
mydb = mysql.connector.connect(
  host="genome-mysql.cse.ucsc.edu",
  user="genome",
  database="hg19"
)
# cursor.execute("USE mydatabase") # select the database
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
tables = mycursor.fetchall() # tables are list of tuples [(,)]

# convert query into data frame
data_tables = []
for table in tables:
    data_tables.append(table[0])
data_tables = pd.DataFrame(data_tables, columns=["Tables"])
mycursor.close()
print(data_tables)

              Tables
0               HInv
1       HInvGeneMrna
2            acembly
3       acemblyClass
4         acemblyPep
...              ...
12513        xenoEst
12514       xenoMrna
12515    xenoRefFlat
12516    xenoRefGene
12517  xenoRefSeqAli

[12518 rows x 1 columns]

In [74]:
len(data_tables)

12518

In [75]:
data_tables[0:5]

         Tables
0          HInv
1  HInvGeneMrna
2       acembly
3  acemblyClass
4    acemblyPep

In [76]:
# show all columns
mydb = mysql.connector.connect(
  host="genome-mysql.cse.ucsc.edu",
  user="genome",
  database="hg19"
)
mycursor = mydb.cursor()
mycursor.execute("describe acembly")
fields = mycursor.fetchall()# fields now is a list of tuples [(,)]
mycursor.close()
print(fields)

[('bin', 'smallint(5) unsigned', 'NO', '', None, ''), ('name', 'varchar(255)', 'NO', 'MUL', None, ''), ('chrom', 'varchar(255)', 'NO', 'MUL', None, ''), ('strand', 'char(1)', 'NO', '', None, ''), ('txStart', 'int(10) unsigned', 'NO', '', None, ''), ('txEnd', 'int(10) unsigned', 'NO', '', None, ''), ('cdsStart', 'int(10) unsigned', 'NO', '', None, ''), ('cdsEnd', 'int(10) unsigned', 'NO', '', None, ''), ('exonCount', 'int(10) unsigned', 'NO', '', None, ''), ('exonStarts', 'longblob', 'NO', '', None, ''), ('exonEnds', 'longblob', 'NO', '', None, '')]

In [77]:
# convert into dataframe
data_fields = []
for field in fields:
    data_fields.append(field[0])
data_fields = pd.DataFrame(data_fields, columns=["Fields"])
print(data_fields)

        Fields
0          bin
1         name
2        chrom
3       strand
4      txStart
5        txEnd
6     cdsStart
7       cdsEnd
8    exonCount
9   exonStarts
10    exonEnds

In [78]:
# similary for other query : Count, Insert, Delete